.App {
 display: grid;
 grid-template-columns: repeat(6,1fr);
}

body{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 background: #FC354C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1{
 text-align: center;
}

.card{
  /* Change background color */
  background-color: white;

  /* Add border */
  border: 1px solid black;

  /* Add space between the border and the content */
  padding: 8px;

  border-radius: 12px;

  margin: 20px;

  width: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img{
width: 200px;
}

.content{

 display: flex;
 justify-content: center;
 align-items: center;
}